<VirtualHost _default_:{{ ara.config.port_ssl }}>
    ServerName {{ ara.config.host }}

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ ara.config.host }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ ara.config.host }}/privkey.pem

    ErrorLog {{ apache_log_path }}/ara-error.log
    LogLevel warn
    CustomLog {{ apache_log_path }}/ara-access.log combined

    SetEnv ANSIBLE_CONFIG /etc/ara/ara.cfg
    {% if ara.install.pip.virtualenv -%}
    SetEnv ARA_WSGI_USE_VIRTUALENV 1
    SetEnv ARA_WSGI_VIRTUALENV_PATH {{ ara.install.pip.virtualenv_path }}

    WSGIDaemonProcess ara user={{ ara.config.user }} group={{ ara.config.group }} processes=1 threads=4 python-home={{ ara.install.pip.virtualenv_path }}
    {% else -%}
    WSGIDaemonProcess ara user={{ ara.config.user }} group={{ ara.config.group }} processes=1 threads=4
    {% endif -%}
    WSGIScriptAlias {{ ara.config.application_root }} {{ wsgi_script }}
    WSGIProcessGroup ara
    WSGIApplicationGroup %{GLOBAL}

    <Directory "{{ wsgi_script | dirname }}">
        <Files "ara-wsgi">
            AuthType Basic
            AuthName "Authentication Required"
            AuthUserFile "/etc/htpasswd/.htpasswd"
            Require valid-user
        </Files>
    </Directory>
</VirtualHost>
